# Frontend (React default ignores)
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store


# Backend
backend/node_modules
backend/.env

# Misc
.DS_Store